
a.brand{
	padding:3px 20px !important;
}
a.brand img{
	max-height:55px;
}
@media (max-width: 430px) {
	#header .brand {
        margin-top: -5px !important;
        padding: 3px 25px !important;
    }
	a.brand{
		padding:3px 25px !important;
	}
	a.brand img{
		max-height:55px;
	}
}
label .error{
    margin-left:3px;
}
.checksinmarleft{
    margin-left: 0px !important;
}
.errorlabelform{
    float:none;
    margin-left:5px;
}
 .input-prepend .errorlabelform{
    float:right;
    margin-left:5px;
}
input .errorlabelform{
    float:none;
    margin-left:5px;
}


ul.wide-list li {
	min-height:28px;
	padding: 7px 0;
	list-style: none;
	border-bottom: 1px solid #EBEBEB;
	border-top: 1px solid white;
}

ul.wide-list a:hover {
	text-decoration: none;
	width:100%;
	cursor:default;
}

ul.wide-list {
	margin: 0;
}

ul.wide-list li span {
	display: inline-block;
	margin-right: 10px;
	text-align: left;
}
ul.wide-list li .action {
	cursor:pointer;
}
.selectedplan td{
	background-color:#A4A4A4 !important;
}
.etiqueta{
	padding-top: 5px;
}
.ciclecontent{
	min-height: 200px;
}
.dragsubject{
	cursor:move;
	z-index:10;
	padding:3px;
	margin:4px;
	display:inline-block;
}
.selected{
	background-color:#A4A4A4 !important;
}
.py_phase{
    background: url(../imgapp/project/phase.png) no-repeat left;
    padding-left:20px;
}
.py_subphase{
    background: url(../imgapp/project/subphase.png) no-repeat left;
    padding-left:20px;
}
.py_deliv{
	background: url(../imgapp/project/deliverable.png) no-repeat left;
	padding-left:20px;
}
.py_pack{
	background: url(../imgapp/project/package.png) no-repeat left;
	padding-left:20px;
}
.py_act{
	background: url(../imgapp/project/activity.png) no-repeat left;
	padding-left:20px;
}
.indicators{
	border: 1px solid #404040;
}