{% extends '_layouts/index.twig' %}
{% block headext %}

{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block pagetitle %}{% endblock %}
{% block content %}
<div class="row-fluid">
     <div class="span12">
         <!-- BEGIN BLOG PORTLET-->
         <h1>Welcome to Metro Project</h1>
         <!-- END BLOG PORTLET-->
     </div>
 </div>
{% endblock %}
{% block footer %}2013 &copy; Metro Lab Dashboard.{% endblock %}
{% block jscode %}

{% endblock %}