{% extends '_layouts/demo.twig' %}
{% block headext %}
{{ extcss('fullcalendar/fullcalendar/bootstrap-fullcalendar.css') }}
{% endblock %}
{% block breadcrumb %}
<li>
   <a href="#">Home</a>
   <span class="divider">/</span>
</li>
<li>
   <a href="#">Components</a>
   <span class="divider">/</span>
</li>
<li class="active">
   Grids
</li>
<li class="pull-right search-wrap">
   <form action="http://thevectorlab.net/metrolab/search_result.html" class="hidden-phone">
       <div class="input-append search-input-area">
           <input class="" id="appendedInputButton" type="text">
           <button class="btn" type="button"><i class="icon-search"></i> </button>
       </div>
   </form>
</li>
{% endblock %}
{% block pagetitle %}Grids{% endblock %}
{% block content %}
<div id="page-wrap">
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget red">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid 12</h4>
                                <span class="tools">
                                <a class="icon-chevron-down" href="javascript:;"></a>
                                <a class="icon-remove" href="javascript:;"></a>
                                </span>
                </div>
                <div class="widget-body">
                    <code> class="span12" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget blue">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid 10</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span10" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
        <div class="span2">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget green">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid2</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span2" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget purple">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid8</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span8" </code>
                </div>
            </div>
            <!-- END GRID PORTLET-->
        </div>
        <div class="span4">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget yellow">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid4</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span4" </code>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget orange">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid6</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span6" </code>
                </div>
            </div>
            <!-- END GRID PORTLET-->
        </div>
        <div class="span6">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid6</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span6" </code>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget green">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid4</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span4" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
        <div class="span4">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget red">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid4</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span4" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
        <div class="span4">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget yellow">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid4</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span4" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget purple">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid2</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span2" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
        <div class="span2">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget blue">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid2</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span2" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
        <div class="span2">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid2</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span2" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
        <div class="span2">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget yellow">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid2</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span2" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
        <div class="span2">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget purple">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid2</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span2" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
        <div class="span2">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget blue">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid2</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span2" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset2">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget orange">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid 10 offset2</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span10 offset2" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset4">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget green">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid 8 offset4</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span8 offset4" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset6">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget red">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid 06 offset6</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span6 offset6" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4 offset8">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget blue">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid 04 offset8</h4>
                            <span class="tools">
                            <a class="icon-chevron-down" href="javascript:;"></a>
                            <a class="icon-remove" href="javascript:;"></a>
                            </span>
                </div>
                <div class="widget-body">
                    <code> class="span4 offset8" </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2 offset10">
            <!-- BEGIN GRID SAMPLE PORTLET-->
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Grid 10 offset2</h4>
                </div>
                <div class="widget-body">
                    <code> span10 offset2 </code>
                </div>
            </div>
            <!-- END GRID SAMPLE PORTLET-->
        </div>
    </div>

</div>
{% endblock %}
{% block footer %}2013 &copy; Metro Lab Dashboard.{% endblock %}
{% block jscode %}
{{ js('home-page-calender.js') }}
{% endblock %}