{% extends '_layouts/demo.twig' %}
{% block headext %}

{% endblock %}
{% block breadcrumb %}
<li>
   <a href="#">Home</a>
   <span class="divider">/</span>
</li>
<li>
   <a href="#">Extra</a>
   <span class="divider">/</span>
</li>
<li class="active">
   Pricing Tables
</li>
<li class="pull-right search-wrap">
   <form action="http://thevectorlab.net/metrolab/search_result.html" class="hidden-phone">
       <div class="input-append search-input-area">
           <input class="" id="appendedInputButton" type="text">
           <button class="btn" type="button"><i class="icon-search"></i> </button>
       </div>
   </form>
</li>
{% endblock %}
{% block pagetitle %}Pricing Tables{% endblock %}
{% block content %}
<div class="row-fluid">
                 <div class="span12">
                     <!-- BEGIN BLANK PAGE PORTLET-->
                     <div class="widget green">
                         <div class="widget-title">
                             <h4><i class="icon-tags"></i> Pricing Table </h4>
                           <span class="tools">
                               <a href="javascript:;" class="icon-chevron-down"></a>
                               <a href="javascript:;" class="icon-remove"></a>
                           </span>
                         </div>
                         <div class="widget-body">
                             <div class="row-fluid">
                                 <div class="pricing-title">
                                     <h2>30 days Free Trial on All Accounts</h2>
                                     <h4>No risk. No hidden fees. Cancel at anytime. </h4>
                                 </div>
                             </div>
                             <div class="row-fluid">
                                 <div class="span3">
                                     <div class="pricing-table terques">
                                         <div class="pricing-head">
                                             <h3> Micro </h3>
                                             <h4>
                                                 <span class="note">$</span>20 <span>Per Month</span></h4>
                                         </div>
                                         <ul>
                                             <li><strong>Free</strong> setup</li>
                                             <li><strong>1</strong> Website</li>
                                             <li><strong>2</strong> Projects</li>
                                             <li><strong>1GB</strong> Storage</li>
                                             <li><strong>$0</strong> Google Adwords Credit</li>
                                         </ul>
                                         <div class="price-actions">
                                             <a href="javascript:;" class="btn">Purchase Now</a>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="spance10 visible-phone"></div>
                                 <div class="span3">
                                     <div class="pricing-table red">
                                         <div class="pricing-head">
                                             <h3> Starter </h3>
                                             <h4>
                                                 <span class="note">$</span>30 <span>Per Month</span></h4>
                                         </div>
                                         <ul>
                                             <li><strong>Free</strong> setup</li>
                                             <li><strong>5</strong> Website</li>
                                             <li><strong>10</strong> Projects</li>
                                             <li><strong>15GB</strong> Storage</li>
                                             <li><strong>$30</strong> Google Adwords Credit</li>
                                         </ul>
                                         <div class="price-actions">
                                             <a href="javascript:;" class="btn">Purchase Now</a>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="spance10 visible-phone"></div>
                                 <div class="span3">
                                     <div class="pricing-table green most-popular">
                                         <div class="pricing-head ">
                                             <h3> Business </h3>
                                             <h4>
                                                 <span class="note">$</span>60 <span>Per Month</span></h4>
                                         </div>
                                         <ul>
                                             <li><strong>Free</strong> setup</li>
                                             <li><strong>10</strong> Website</li>
                                             <li><strong>20</strong> Projects</li>
                                             <li><strong>Unlimited</strong> Storage</li>
                                             <li><strong>$50</strong> Google Adwords Credit</li>
                                         </ul>
                                         <div class="price-actions">
                                             <a href="javascript:;" class="btn">Purchase Now</a>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="spance10 visible-phone"></div>
                                 <div class="span3">
                                     <div class="pricing-table purple">
                                         <div class="pricing-head">
                                             <h3> Enterprise </h3>
                                             <h4>
                                                 <span class="note">$</span>120 <span>Per Month</span></h4>
                                         </div>
                                         <ul>
                                             <li><strong>Free</strong> setup</li>
                                             <li><strong>20</strong> Website</li>
                                             <li><strong>30</strong> Projects</li>
                                             <li><strong>Unlimited</strong> Storage</li>
                                             <li><strong>$100</strong> Google Adwords Credit</li>
                                         </ul>
                                         <div class="price-actions">
                                             <a href="javascript:;" class="btn">Purchase Now</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <!-- END BLANK PAGE PORTLET-->
                 </div>
             </div>
{% endblock %}
{% block footer %}2013 &copy; Metro Lab Dashboard.{% endblock %}
{% block jscode %}

{% endblock %}