{% extends '_layouts/demo.twig' %}
{% block headext %}

{% endblock %}
{% block breadcrumb %}
<li>
   <a href="#">Home</a>
   <span class="divider">/</span>
</li>
<li>
   <a href="#">Extra</a>
   <span class="divider">/</span>
</li>
<li class="active">
   FAQ
</li>
<li class="pull-right search-wrap">
   <form action="http://thevectorlab.net/metrolab/search_result.html" class="hidden-phone">
       <div class="input-append search-input-area">
           <input class="" id="appendedInputButton" type="text">
           <button class="btn" type="button"><i class="icon-search"></i> </button>
       </div>
   </form>
</li>
{% endblock %}
{% block pagetitle %}FAQ{% endblock %}
{% block content %}
<div class="row-fluid">
     <div class="span12">
         <!-- BEGIN BLANK PAGE PORTLET-->
         <div class="widget red">
             <div class="widget-title">
                 <h4><i class="icon-question-sign"></i> FAQ </h4>
               <span class="tools">
                   <a href="javascript:;" class="icon-chevron-down"></a>
                   <a href="javascript:;" class="icon-remove"></a>
               </span>
             </div>
             <div class="widget-body">
                 <div class="row-fluid">
                     <div class="span3">
                         <h4 class="title grey">FAQ Sections</h4>
                         <div class="clearfix">
                             <ul class="nav nav-list faq-list">
                                 <li>
                                     <a class="active" href="#"><i class=" icon-signin"></i> General Questions</a>
                                 </li>
                                 <li><a href="#"><i class="icon-pushpin"></i> Lorem Ipsum is simply dummy</a></li>
                                 <li><a href="#"><i class="icon-question-sign"></i> Contrary to popular belief</a></li>
                                 <li><a href="#"><i class="icon-briefcase"></i> There are many variation</a></li>
                                 <li><a href="#"><i class="icon-truck"></i> standard chunk of Lorem </a></li>
                                 <li><a href="#"><i class="icon-trophy"></i> Lorem Ipsum as their text</a></li>
                                 <li><a href="#"><i class="icon-leaf"></i> Lorem Ipsum as their default</a></li>
                                 <li><a href="#"><i class="icon-tags"></i>  Ipsum as default model text</a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="span9">
                         <h4>General Questions</h4>
                         <div id="accordion" class="accordion in collapse" style="height: auto;">

                             <div class="accordion-group">
                                 <div class="accordion-heading">
                                     <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus ?
                                     </a>
                                 </div>
                                 <div class="accordion-body collapse in" id="collapseOne">
                                     <div class="accordion-inner">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                     </div>
                                 </div>

                             </div>
                             <div class="accordion-group">
                                 <div class="accordion-heading">
                                     <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                         Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid ?
                                     </a>
                                 </div>
                                 <div class="accordion-body collapse" id="collapseTwo">
                                     <div class="accordion-inner">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                     </div>
                                 </div>
                             </div>
                             <div class="accordion-group">
                                 <div class="accordion-heading">
                                     <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                         Nihil anim keffiyeh helvetica, craft beer labore wes ?
                                     </a>
                                 </div>
                                 <div class="accordion-body collapse" id="collapseThree">
                                     <div class="accordion-inner">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                     </div>
                                 </div>
                             </div>
                             <div class="accordion-group">
                                 <div class="accordion-heading">
                                     <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                         Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't ?
                                     </a>
                                 </div>
                                 <div class="accordion-body collapse" id="collapseFour">
                                     <div class="accordion-inner">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                     </div>
                                 </div>
                             </div>
                             <div class="accordion-group">
                                 <div class="accordion-heading">
                                     <a href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                         Nihil anim keffiyeh helvetica, craft beer labore wes ?
                                     </a>
                                 </div>
                                 <div class="accordion-body collapse" id="collapseFive">
                                     <div class="accordion-inner">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                     </div>
                                 </div>
                             </div>
                             <div class="accordion-group">
                                 <div class="accordion-heading">
                                     <a href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                         Nihil anim keffiyeh helvetica, craft beer labore wes ?
                                     </a>
                                 </div>
                                 <div class="accordion-body collapse" id="collapseSix">
                                     <div class="accordion-inner">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                     </div>
                                 </div>
                             </div>
                             <div class="accordion-group">
                                 <div class="accordion-heading">
                                     <a href="#collapseSeven" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                         Ad vegan excepteur butcher vice lomo ?
                                     </a>
                                 </div>
                                 <div class="accordion-body collapse" id="collapseSeven">
                                     <div class="accordion-inner">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                     </div>
                                 </div>
                             </div>
                             <div class="accordion-group">
                                 <div class="accordion-heading">
                                     <a href="#collapse8" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ?
                                     </a>
                                 </div>
                                 <div class="accordion-body collapse" id="collapse8">
                                     <div class="accordion-inner">
                                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                     </div>
                                 </div>
                             </div>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- END BLANK PAGE PORTLET-->
     </div>
 </div>
{% endblock %}
{% block footer %}2013 &copy; Metro Lab Dashboard.{% endblock %}
{% block jscode %}

{% endblock %}