{% extends '_layouts/demo.twig' %}
{% block headext %}

{% endblock %}
{% block breadcrumb %}
<li>
   <a href="#">Home</a>
   <span class="divider">/</span>
</li>
<li>
   <a href="#">Sample Pages</a>
   <span class="divider">/</span>
</li>
<li class="active">
   About Us
</li>
<li class="pull-right search-wrap">
   <form action="http://thevectorlab.net/metrolab/search_result.html" class="hidden-phone">
       <div class="input-append search-input-area">
           <input class="" id="appendedInputButton" type="text">
           <button class="btn" type="button"><i class="icon-search"></i> </button>
       </div>
   </form>
</li>
{% endblock %}
{% block pagetitle %}About Us{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget red">
            <div class="widget-title">
                <h4><i class="icon-user"></i> About Us</h4>
               <span class="tools">
               <a class="icon-chevron-down" href="javascript:;"></a>
               <a class="icon-remove" href="javascript:;"></a>
               </span>
            </div>
            <div class="widget-body">
                <!--BEGIN ABOUT US-->
                <div class="about-us">
                    <div class="text-center">
                        <h3>Here is an example of how you can decorate your about us page. <br> Here you will able to present your team list and their skills.</h3>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <h3>Our Philosophy</h3>
                            <p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                        </div>
                        <div class="span6">
                            <h3>Mission &amp; Vision</h3>
                            <p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="row-fluid">
                        <div class="span6">
                            <h3>Our Skills</h3>
                            <h5><strong>Web Design</strong></h5>
                            <p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
                            <h5><strong>Wordpress</strong></h5>
                            <p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
                            <h5><strong>Jquery</strong></h5>
                            <p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
                            <h5><strong>HTML</strong></h5>
                            <p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
                            <h5><strong>CSS</strong></h5>
                            <p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
                            <h5><strong>PHP</strong></h5>
                            <p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
                            <h5><strong>Content Management</strong></h5>
                            <p>Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
                        </div>
                        <div class="span6">
                            <div class="space20"></div>
                            <div class="space20"></div>
                            <div class="space5"></div>
                            <h5>Web Design <span class="pull-right">35%</span></h5>
                            <div class="progress progress-striped progress-danger">
                                <div style="width: 35%;" class="bar"></div>
                            </div>
                            <h5>Wordpress <span class="pull-right">40%</span></h5>
                            <div class="progress progress-striped">
                                <div style="width: 40%;" class="bar"></div>
                            </div>
                            <h5>Web Design <span class="pull-right">35%</span></h5>
                            <div class="progress progress-striped">
                                <div style="width: 35%;" class="bar"></div>
                            </div>
                            <h5>Jquery<span class="pull-right">55%</span></h5>
                            <div class="progress progress-striped progress-success">
                                <div style="width: 55%;" class="bar"></div>
                            </div>
                            <h5>HTML<span class="pull-right">85%</span></h5>
                            <div class="progress progress-striped progress-warning">
                                <div style="width: 85%;" class="bar"></div>
                            </div>
                            <h5>CSS<span class="pull-right">67%</span></h5>
                            <div class="progress progress-striped progress-danger">
                                <div style="width: 67%;" class="bar"></div>
                            </div>
                            <h5>PHP <span class="pull-right">45%</span></h5>
                            <div class="progress progress-striped">
                                <div style="width: 45%;" class="bar"></div>
                            </div>
                            <h5>Content Management<span class="pull-right">50%</span></h5>
                            <div class="progress progress-striped progress-success">
                                <div style="width: 50%;" class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END ABOUT US-->
            </div>
        </div>
    </div>
</div>
 <div class="row-fluid">
     <div class="span12">
         <!-- BEGIN BLANK PAGE PORTLET-->
         <div class="widget purple">
             <div class="widget-title">
                 <h4><i class="icon-group"></i> Our Team </h4>
               <span class="tools">
                   <a href="javascript:;" class="icon-chevron-down"></a>
                   <a href="javascript:;" class="icon-remove"></a>
               </span>
             </div>
             <div class="widget-body">
                 <div class="text-center">
                     <h3>Here is an example of how you can decorate your about us page. <br/> You will able to present your team details as well.</h3>
                 </div>
                 <div class="row-fluid">
                     <div class="span6">
                         <div class="row-fluid about-us">
                             <div class="span4">
                                 {{ img('about-us/img-1.jpg') }}
                             </div>
                             <div class="span8">
                                 <div class="info terques">
                                     <h1>Jonathan Smith</h1>
                                     <p>Chief Executive Officer</p>
                                     <div class="social-links">
                                         <a href="#">
                                             <i class="icon-facebook"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-twitter"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-google-plus"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-youtube"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-pinterest"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-linkedin"></i>
                                         </a>

                                     </div>
                                 </div>

                             </div>
                             <div class="space10"></div>
                             <p>
                                 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                             </p>

                         </div>
                     </div>
                     <div class="span6">
                         <div class="row-fluid about-us">
                             <div class="span4">
                                 {{ img('about-us/img-2.jpg') }}
                             </div>
                             <div class="span8">
                                 <div class="info red">
                                     <h1>Anjelina Joe</h1>
                                     <p>Managing Director</p>
                                     <div class="social-links">
                                         <a href="#">
                                             <i class="icon-facebook"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-twitter"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-google-plus"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-youtube"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-pinterest"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-linkedin"></i>
                                         </a>

                                     </div>
                                 </div>

                             </div>
                             <div class="space10"></div>
                             <p>
                                 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                             </p>

                         </div>
                     </div>
                 </div>
                 <div class="space15"></div>
                 <div class="row-fluid">
                     <div class="span6">
                         <div class="row-fluid about-us">
                             <div class="span4">
                                 {{ img('about-us/img-3.jpg') }}
                             </div>
                             <div class="span8">
                                 <div class="info green">
                                     <h1>Franklin Mosa</h1>
                                     <p>system enginner</p>
                                     <div class="social-links">
                                         <a href="#">
                                             <i class="icon-facebook"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-twitter"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-google-plus"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-youtube"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-pinterest"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-linkedin"></i>
                                         </a>

                                     </div>
                                 </div>

                             </div>
                             <div class="space10"></div>

                             <p>
                                 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                             </p>
                         </div>
                     </div>
                     <div class="span6">
                         <div class="row-fluid about-us">
                             <div class="span4">
                                 {{ img('about-us/img-4.jpg') }}
                             </div>
                             <div class="span8">
                                 <div class="info orange">
                                     <h1>Ahmed Yousuf</h1>
                                     <p>Creative Designer</p>
                                     <div class="social-links">
                                         <a href="#">
                                             <i class="icon-facebook"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-twitter"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-google-plus"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-youtube"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-pinterest"></i>
                                         </a>
                                         <a href="#">
                                             <i class="icon-linkedin"></i>
                                         </a>

                                     </div>
                                 </div>

                             </div>
                             <div class="space10"></div>
                             <p>
                                 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                             </p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- END BLANK PAGE PORTLET-->
     </div>
 </div>
{% endblock %}
{% block footer %}2013 &copy; Metro Lab Dashboard.{% endblock %}
{% block jscode %}

{% endblock %}