{% extends '_layouts/demo.twig' %}
{% block headext %}
{% endblock %}
{% block breadcrumb %}
<li>
   <a href="#">Home</a>
   <span class="divider">/</span>
</li>
<li>
   <a href="#">UI Elements</a>
   <span class="divider">/</span>
</li>
<li class="active">
   Metro View
</li>
<li class="pull-right search-wrap">
   <form action="http://thevectorlab.net/metrolab/search_result.html" class="hidden-phone">
       <div class="input-append search-input-area">
           <input class="" id="appendedInputButton" type="text">
           <button class="btn" type="button"><i class="icon-search"></i> </button>
       </div>
   </form>
</li>
{% endblock %}
{% block pagetitle %}Metro View{% endblock %}
{% block content %}
 <div class="row-fluid">
    <!--BEGIN METRO STATES-->
    <div class="metro-nav metro-fix-view">
        <div class="metro-nav-block nav-block-green long">
            <a href="#" class="text-center" data-original-title="">
                <span class="value">
                    <i class="icon-user"></i>
                    329
                </span>
                <div class="status">New User</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-orange">
            <a href="#" data-original-title="">
                <i class="icon-envelope"></i>
                <div class="info">321</div>
                <div class="status">Mail</div>
            </a>
        </div>

       <div class="metro-nav-block nav-block-green">
           <a href="#" data-original-title="">
               <i class="icon-comments-alt"></i>
               <div class="info">49</div>
               <div class="status">Comments</div>
           </a>
       </div>
        <div class="metro-nav-block nav-block-blue double">
            <a href="#" data-original-title="">
                <i class="icon-tasks"></i>
                <div class="info">$37624</div>
                <div class="status">Stock</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-yellow">
            <a href="#" data-original-title="">
                <i class="icon-tags"></i>
                <div class="info">+970</div>
                <div class="status">Sales</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-grey">
            <a href="#" class="text-center" data-original-title="">
                <i class="icon-phone"></i>
                <div class="status">Phone</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-red double">
            <a href="#" data-original-title="">
                <i class="icon-bar-chart"></i>
                <div class="info">+288</div>
                <div class="status">Update</div>
            </a>
        </div>

        <div class="metro-nav-block nav-block-orange">
            <a href="#" data-original-title="" class="text-center">
                <i class="icon-star-empty"></i>
                <div class="status">Rattings</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-purple double">
            <a href="#" data-original-title="">
                <i class="icon-eye-open"></i>
                <div class="info">+8914</div>
                <div class="status">Unique Visitor</div>
            </a>
        </div>

        <div class="metro-nav-block nav-block-red">
            <a href="#" data-original-title="">
                <i class="icon-shopping-cart"></i>
                <div class="info">29</div>
                <div class="status">New Order</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-grey">
            <a href="#" data-original-title="">
                <i class="icon-remove-sign"></i>
                <div class="info">34 </div>
                <div class="status">Cancelled</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-purple">
            <a href="#" data-original-title="" class="text-center">
                <i class="icon-cogs"></i>
                <div class="status">Settings</div>
            </a>
        </div>

        <div class="metro-nav-block nav-block-blue">
            <a href="#" data-original-title="">
                <i class="icon-shopping-cart"></i>
                <div class="info">29</div>
                <div class="status">New Order</div>
            </a>
        </div>

        <div class="metro-nav-block nav-block-green double">
            <a href="#" data-original-title="">
                <i class="icon-external-link"></i>
                <div class="info">$53412</div>
                <div class="status">Total Profit</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-grey">
            <a href="#" class="text-center" data-original-title="">
                <i class="icon-dashboard"></i>
                <div class="status">Dashboard</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-orange">
            <a href="#" class="text-center" data-original-title="">
                <i class="icon-signout"></i>
                <div class="status">Sign Out</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-yellow">
            <a href="#" class="text-center" data-original-title="">
                <i class=" icon-puzzle-piece"></i>
                <div class="status">Warning</div>
            </a>
        </div>
    </div>

    <div class="space10"></div>
    <!--END METRO STATES-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-th-large"></i> More Metro Style </h4>
               <span class="tools">
                   <a href="javascript:;" class="icon-chevron-down"></a>
                   <a href="javascript:;" class="icon-remove"></a>
               </span>
                </div>
                <div class="widget-body">
                    <!--BEGIN METRO STATES-->
                    <div class="metro-nav">
                        <div class="metro-nav-block nav-block-orange">
                            <a data-original-title="" href="#">
                                <i class="icon-user"></i>
                                <div class="info">321</div>
                                <div class="status">New User</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-yellow">
                            <a data-original-title="" href="#">
                                <i class="icon-tags"></i>
                                <div class="info">+970</div>
                                <div class="status">Sales</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-grey">
                            <a data-original-title="" href="#">
                                <i class="icon-comments-alt"></i>
                                <div class="info">49</div>
                                <div class="status">Comments</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue double">
                            <a data-original-title="" href="#">
                                <i class="icon-eye-open"></i>
                                <div class="info">+897</div>
                                <div class="status">Unique Visitor</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red">
                            <a data-original-title="" href="#">
                                <i class="icon-bar-chart"></i>
                                <div class="info">+288</div>
                                <div class="status">Update</div>
                            </a>
                        </div>
                    </div>
                    <div class="metro-nav">
                        <div class="metro-nav-block nav-block-blue">
                            <a data-original-title="" href="#">
                                <i class="icon-shopping-cart"></i>
                                <div class="info">29</div>
                                <div class="status">New Order</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-green double">
                            <a data-original-title="" href="#">
                                <i class="icon-tasks"></i>
                                <div class="info">$37624</div>
                                <div class="status">Stock</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-orange">
                            <a data-original-title="" href="#">
                                <i class="icon-envelope"></i>
                                <div class="info">123</div>
                                <div class="status">Messages</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-purple">
                            <a data-original-title="" href="#">
                                <i class="icon-remove-sign"></i>
                                <div class="info">34</div>
                                <div class="status">Cancelled</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-grey ">
                            <a data-original-title="" href="#">
                                <i class="icon-external-link"></i>
                                <div class="info">$53412</div>
                                <div class="status">Total Profit</div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--END METRO STATES-->
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-th-large"></i> More Metro Style </h4>
               <span class="tools">
                   <a href="javascript:;" class="icon-chevron-down"></a>
                   <a href="javascript:;" class="icon-remove"></a>
               </span>
                </div>
                <div class="widget-body">
                    <!--BEGIN METRO STATES-->
                    <div class="metro-nav">
                        <div class="metro-nav-block nav-block-orange">
                            <a data-original-title="" href="#">
                                <i class="icon-user"></i>
                                <div class="info">321</div>
                                <div class="status">New User</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-yellow">
                            <a data-original-title="" href="#">
                                <i class="icon-tags"></i>
                                <div class="info">+970</div>
                                <div class="status">Sales</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-grey">
                            <a data-original-title="" href="#">
                                <i class="icon-comments-alt"></i>
                                <div class="info">49</div>
                                <div class="status">Comments</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue">
                            <a data-original-title="" href="#">
                                <i class="icon-eye-open"></i>
                                <div class="info">+897</div>
                                <div class="status">Unique Visitor</div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red">
                            <a data-original-title="" class="text-center" href="#">
                                <i class="icon-lightbulb"></i>
                                <div class="status">Dashboard</div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--END METRO STATES-->
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block footer %}2013 &copy; Metro Lab Dashboard.{% endblock %}
{% block jscode %}
   
{% endblock %}